.detailed-project-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.detailed-project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.skill-container, .project-links-container, .about-this-project-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title-project {
  font-size: 32px;
}

.back-btn {
  font-size: 20px;
  padding: 10px 16px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  left: 0px;
}

.github-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 80px;
  padding: 10px 16px;
  border-radius: 10px;
}

.github-logo {
  padding: 10px;
  border-radius: 99999px;
  background-color: lightgrey;
  color: #606060;
}

.sub-section-text {
  font-size: 20px;
  margin: 0;
}
