.box-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
}

.date-text {
    font-size: 24px;
    font-weight: 500;
}

.desc-list {
    font-size: 18px;
    font-weight: 400;
}

.title-text {
    font-size: 24px;
    font-weight: 600;
}

.desc-text {
    font-size: 18px;
}
